<%- include('partials/Header') %>
<title>Ilnesses</title>
</head>
<body>
    <%- include('partials/navbar') %>
    <div class="container mt-5">
        <h1 class="mb-4 text-center">Illness List</h1>
        <div class="d-flex justify-content-between mb-4">
            <a href="/illnesses/add" class="btn btn-primary">Add Illness</a>
            <form class="d-flex" method="get">
                <input type="text" name="search" id="search-input" class="form-control me-2" placeholder="Search by name or symptoms">
                <button class="btn btn-outline-primary" type="submit">Search</button>
            </form>
        </div>
        <table class="table table-hover table-bordered text-center">
            <thead class="thead-dark bg-dark text-white">
                <tr>
                    <th>Illness</th>
                    <th>Category</th>
                    <th>Symptoms</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% illnesses.forEach(e => { %>
                    <tr>
                        <td><%= e.name %></td>
                        <td><%= e.Category.name %></td>
                        <td><%= e.symptoms %></td>
                        <td>
                            <a href="/illnesses/<%= e.id %>/edit" class="btn btn-warning btn-sm">Edit</a>
                            <a href="/illnesses/<%= e.id %>/delete" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
