<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Profiles</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <%- include('partials/navbar') %>
    <div class="container mt-4">
        <h1 class="mb-4">Illness List</h1>
        <a href="/illnesses/add"><button>Add Illness</button></a><br><br>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Illness</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <!-- Example Row, replace with your dynamic data -->
                <% illnesses.forEach(e => { %>
                    <tr>
                        <td><%= e.name %></td>
                        <td><%= e.Category.name %></td>
                        <td><%= e.Category.description %></td>
                        <td>
                            <a href="/illnesses/<%= e.id  %>/edit"><button>Edit</button></a>
                            <a href="/illnesses/<%= e.id  %>/delete"><button>Delete</button></a>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
